.App {
  text-align: center;
  background-color: #282c34;
  font-family: 'Caveat', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.skill-logo {
  height: 25vmin;
  pointer-events: none;
}

.swim-logo {
  width: 110%;
}

.sns-icon {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sub-title {
  font-size: 90px;
}

.punctuation-left, .punctuation-right {
  width: 40%;
  height: 40vmin;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}
.swim-punctuation-left, .swim-punctuation-right {
  width: 30%;
}
.punctuation-left {
  margin: 0 0 40px 100px;
  float: left;
}
.punctuation-right {
  margin: 0 100px 40px 0;
  float: right;
}
.swim-punctuation-left {
  float: left;
  margin: 100px 0 0 0;
}
.swim-punctuation-right {
  float: right;
  margin: 0 100px 0 0;
}
.skill-title {
  color: rgb(0, 0, 0);
}

.fixed-bg {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.content {
  margin-bottom: 150px;
}